{% extends 'base.html' %}

{% block title %}Buscar Registro{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Buscar Registro</h2>

<form method="POST" action="{{ url_for('turno.buscar_turno') }}">
    <label>CURP:
        <input type="text" name="curp" class="form-control" required>
    </label>

    <button type="submit" class="btn btn-primary w-100 mt-3">Buscar</button>
</form>

<div class="text-center mt-4">
    <a href="{{ url_for('turno.solicitar_turno') }}" class="btn btn-secondary">🏠 Volver al Inicio</a>
</div>
{% endblock %}
